---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout>
	<main class="grid place-items-center h-screen">
			<img src="/images/logo-color.svg" alt="El Lector Novato" class="w-[300px] md:w-[500px]" />
	</main>
</BaseLayout>
