---
import BaseLayout from "#layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="grid place-items-center h-svh">
			<img src="/images/logo-color.svg" alt="El Lector Novato" class="w-[300px] md:w-[500px]" />
	</main>
</BaseLayout>
